@font-face {
    font-family: 'Fredericka';
    src: url('Flannel_Bingo/fredericka-the-great/FrederickatheGreat-Regular.ttf');
}

.links_div {
    width: 100%;
    height: 4vw;
    margin-top: 30vh;

    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    
    gap: 20px;
}

.game_link {
    font-size: 4vw;
    text-decoration: none;
}

#orbit_link {
    font-family:'Courier New', Courier, monospace;
    color: black;
}

#flannel_link {
    font-family: 'Fredericka';
    color: black;
}