input {
    border: 1px solid gray;
}

.login_modal {
    width: 30vw;
    height: 30vh;

    border: 2px solid black;

    margin-top: 5vh;
    margin-left: 35vw;
    margin-right: 35vw;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}

.login_header {
    width: 15vw;
    height: 20px;

    margin: 0;
    text-align: center;

    background-color: white;
}

.login_input {
    width: 15vw;
    height: 20px;
}

.error_message {
    color: red;
    display: none;
}

.preview_modal {
    display: none;

    background-color: white;
    border: 1px black solid;

    width: 80vw;
    height: 95vh;

    position: absolute;
    top: 2vh;
    left: 10vw;

    z-index: 1;
}

.preview_area {
    border: 1px black solid;

    overflow-y: scroll;

    width: 80vw;
    height: 90vh;

    font-family: Helvetica, Arial, sans-serif;
    font-size: 13px;
}

.preview_area .ql-align-center {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.preview_area p {
    margin-left: 20px;
    margin-right: 20px;
}

.preview_area img {}


.preview_btns {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    width: 80vw;
    height: 5vh;
}

.editor_modal {
    display: none;
}

.current {
    color: lightblue;
}

.page_btn {
    text-decoration: none;
    text-align: center;

    font-size: 30px;
    font-family: Arial, Helvetica, sans-serif;

    width: 3in;
}

.side_by_side {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;

    margin-bottom: 10px;
}

.center_obj {
    display: flex;
    flex-direction: row;
    justify-content: center;

    margin-bottom: 10px;
}

.posts_select {
    font-size: 24px;

    width: 60%;

    background-color: white;
}

.left_input {
    font-size: 24px;

    width: 98%;
}

.tags_display {
    width: 3in - 5px;
    height: 100px;

    border-bottom: 1px solid gray;
}

.right_container {
    width: 8.5in;
    height: 50vh;
}

.left_container {
    width: 3in;

    margin-left: 0;

    display: flex;
    flex-direction: column;
    row-gap: 10px;
}

.side_by_side {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;

    margin-bottom: 10px;
}

.preview_area .current {
    color: lightblue;
}

.preview_area .window_content {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
}

.preview_area .selected_tags_div {
    display: none;
}

.preview_area .tags_content {
    width: 15vw;
    height: max-content;

    margin-top: 30px;

    display: grid;
    grid-template-columns: 5fr 1fr;
    column-gap: 20px;

    border: 1px black solid;
}

.preview_area .tag_button {
    height: 25px;

    margin-top: auto;
    margin-bottom: auto;
    margin-left: 0;
    margin-right: 0;
}

.preview_area .blog_content {
    width: 80vw;
}

.preview_area .page_btn {
    text-decoration: none;
    text-align: center;

    font-size: 30px;
    font-family: Arial, Helvetica, sans-serif;

    width: 3in;
}

.preview_area .ql-align-center {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.preview_area .center_div {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.preview_area .right_div {
    display: flex;
    flex-direction: row;
    justify-content: right;
}

.preview_area .small_btn {
    width: max-content;
}

.preview_area .ql-resize-style-right {
    float: right;
}

.preview_area .ql-resize-style-left {
    float: left;
}