:root {
    --matrix_green: #00F73F;
}
.header_canvas {
    width: 15vw;
    height: 15vw;

    margin-left: 20px;
    margin-right: 20px;
}

html {
    background-color: black;
}

body {
    margin-left: 0;
    margin-right: 0;

    width: 100%;
    max-width: 100%;
    overflow-x: hidden;
    overflow-y: scroll;
}

.header {
    width: 100%;
    height: 20vw;
    overflow: hidden;

    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
}

.tabs_div {
    width: 100%;
    height: 4vw;
    
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.page_btn {
    font-family: "Courier";
    font-size: 3vw;
    color: var(--matrix_green);
    text-decoration: none;

    border: dashed var(--matrix_green) 2px;
    padding-right: 5px;
    padding-left: 5px;
}

.header_underlay {
    margin-top: 0;
    max-width: 100%;
    overflow: hidden;
}

.header_bg { 
    filter: invert(72%) sepia(35%) saturate(7348%) hue-rotate(92deg) brightness(115%) contrast(106%);
}

.header_overlay {
    position: absolute;
    top: calc(5vw + 5px);

    width: 98%;
}

.compass_div {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;

    max-width: max-content;
    height: max-content;

    margin-left: auto;
    margin-right: auto;
}

.header_text, .page_header {
    font-size: 4vw;
    font-family: "Courier";
    font-weight: 100;

    align-self: center;

    width: max-content;
    max-width: 60vw;

    color: var(--matrix_green);
    background-color: black;
}

.page_header {
    font-weight: 900;
}