p, label, h3 {
    font-family: "Courier";
    color: var(--matrix_green);
}

select {
    background: black;
    border: solid 2px var(--matrix_green);

    color: var(--matrix_green);

    max-width: 80vw;
}

.content {
    width: 90%;
    margin: auto;
}

.section_header {
    font-family: "Courier";
    color: var(--matrix_green);
    font-weight: 100;
}

.style_button_bar {
    width: 100%;
    height: 4vw;

    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.style_button {
    font-family: "Courier";
    font-size: 5vh;

    color: var(--matrix_green);
    background-color: black;
    text-decoration: none;

    min-width: 200px;
    min-height: 20px;

    border: dashed var(--matrix_green) 2px;
    padding-right: 5px;
    padding-left: 5px;
}

.font_example {
    font-family: 'Arial';
    color: var(--matrix_green);
}

.rgb_hex_out label {
    font-family: "Courier";
    font-size: 3vw;
    color: var(--matrix_green);
}

.color_out {
    background: black;
    border: solid 2px var(--matrix_green);

    color: var(--matrix_green);

    font-family: "Courier";
}

.complementary_div { 
    border: solid 2px var(--matrix_green) !important;
}

.image_only_div_div {
    display: none;
}
