.header {
    width: 100%;
    overflow: hidden;

    margin-left: 0;
    margin-right: 0;
    margin-top: 0;

    background-image: url(../resources/images/canyon_contour.svg);
}

.page_btn {
    background: white;
    font-family: "Prida36";
    color: var(--tcotta);
    text-decoration: none;

    margin-top: 0;
    margin-bottom: 0;

    border-radius: 20px;
}

.compass_div {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;

    width: 100%;

    margin-left: auto;
    margin-right: auto;
}

.header_canvas {
    width: 20vw;
    height: 20vw;
    max-height: 175px;
    max-width: 175px;

    margin-left: 20px;
    margin-right: 20px;
}

.page_header {
    color: var(--red);

    font-family: 'Prida65';
    font-size: 4vw;

    align-self: center;

    width: max-content;
    max-width: 60vw;

    margin-top: 0;
    margin-bottom: 0;
}

@media (max-width: 600px) {
    .mobile_menu {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
    }

    .menu_span {
        color: var(--tcotta);
        text-decoration: none;
    }

    .menu_btn {
        background: white;
        font-family: "Prida36";
        color: var(--tcotta);
        text-decoration: none;

        max-width: max-content;

        border: none;
    }

    .tabs_div {
        display: none;

        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .header_text {
        display: none;
    }
}

@media (min-width: 600px) {
    .mobile_menu {
        display: none;
    }

    .tabs_div {
        width: 100%;

        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
    }

    .header_text {
        font-family: 'Prida65';
        font-size: 4vw;

        align-self: center;

        width: max-content;
        max-width: 60vw;
    }
}